# Monorepo
storage/
uploads/
*.pdf
*.pptx

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
